.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  bottom: 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.legal {
  font-size: 0.92rem;
  margin-bottom: 90px;
  color: white;
  text-align: center;
}

.footer svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

footer {
  position: fixed;
  bottom: -140px;
  display: flex;
  width: 100%;
  height: 400px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 80px;
  width: 100%;
}

@media (max-height: 600px) {
  footer {
    bottom: -200px;
  }
  section {
    align-items: center;
    padding-left: 0;
    gap: 20px;
  }
}

@media (max-width: 500px){
  footer{
    height: 270px;
  }

  section {
    padding-left: 0px;
  }

}