.lista-previsao {
    list-style: none;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
   margin: 10px 0px 130px -25px;
}

.lista-previsao li {
    padding: 0px 120px;
    width: 290px;
    height: 60px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.img-sensacao-termica {
    width: 40px;
    margin-left: 10px;
}

.img-chuva {
    width: 45px;
    margin: 10px 0px 0px 10px;
}

.img-horario-atualizacao {
    width: 30px;
    margin-left: 17px;
}

.img-umidade {
    width: 70px;
    margin-left: -7px;
}

.img-vento {
    margin-left: -3px;
}

ul li .img-temperatura {
    width: 50px;
    margin-left: 7px;
}

.img-nascer-sol {
    width: 45px;
    margin-left: 10px;
}

.img-por-sol {
    width: 55px;
    margin-left: 5px;
}

.mais-informacoes{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 50px;
}

.mais-informacoes-mobile{
    display: none;
}

.mais-informacoes-pc{
    font-size: 1.5rem;
    font-weight: 500;
}


.li-1,
.li-2,
.li-3,
.li-4,
.li-5,
.li-6 {
    border-bottom: 1px solid  rgba(128, 128, 128, 0.377);
}

.li-2,
.li-4,
.li-6,
.li-8 {
    border-left: 1px solid rgba(128, 128, 128, 0.377);
}

.seta {
    height: 30px;
    color: #1648b4;
}



@media (max-width: 500px) {
    .list-container{
        display: flex;
        justify-content: center;
    }

    .seta {
        height: 25px;
    }

    .mais-informacoes-pc{
        display: none;
    }

    .mais-informacoes-mobile{
        display: block;
        font-size: 1rem !important;
        font-weight: 500;
    }


    .lista-previsao {
        margin-top: 120px;
        max-width: 90%;
        width: 90%;
        margin-left: -7px;
        margin: 0px 0px 20px -7px;
        border-radius: 15px;        
        padding: 15px 0px;
        gap: 15px 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lista-previsao li {
        width: 130px;
        border-top: 1px solid rgba(255, 255, 255, 0.212);
        height: 80px;

    }

    .lista-previsao p {
        font-size: .85rem;
    }


    .img-sensacao-termica, .img-chuva{
        margin-left: 0px;
    }

    .img-UV{
        margin-left: -8px;
    }


    .lista-previsao li {
        padding: 0px 10px 0px 10px;
    }


    .li-8,
    .li-7 {
        display: none !important;
    }

    .img-umidade {
        margin-left: 1px;
    }

    .li-1,
    .li-2,
    .li-3,
    .li-4,
    .li-5,
    .li-6 {
        border-bottom: none
    }

    .li-2,
    .li-4,
    .li-6,
    .li-8 {
        border-left: none
    }
}
