.lista-previsao {
    list-style: none;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -25px;

}

.lista-previsao li {
    padding: 0px 120px;
    width: 290px;
    height: 60px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.img-sensacao-termica {
    width: 40px;
    margin-left: 10px;
}

.img-chuva {
    width: 45px;
    margin: 10px 0px 0px 10px;
}

.img-horario-atualizacao {
    width: 30px;
    margin-left: 17px;
}

.img-umidade {
    width: 70px;
    margin-left: -7px;
}

.img-vento {
    margin-left: -3px;
}

ul li .img-temperatura {
    width: 50px;
    margin-left: 7px;
}

.img-nascer-sol {
    width: 45px;
    margin-left: 10px;
}

.img-por-sol {
    width: 55px;
    margin-left: 5px;
}


.li-1,
.li-2,
.li-3,
.li-4,
.li-5,
.li-6 {
    border-bottom: 1px solid gray;
}

.li-2,
.li-4,
.li-6,
.li-8 {
    border-left: 1px solid gray;
}

.seta {
    height: 30px;
}

@media (max-width: 500px) {
    .lista-previsao {
        margin-top: 100px;
        max-width: 100%;
        width: 100%;
        margin-left: -7px;
        margin-bottom: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lista-previsao li {
        width: 100px;
        height: 80px;
    }

    .lista-previsao p {
        font-size: .7rem;
    }
}

@media (max-width: 500px) {

    .lista-previsao{
        margin-bottom: 90px;
    }

    .lista-previsao li {
        padding: 0px 45px 0px 20px;
    }

    .li-8,
    .li-7 {
        display: none !important;
    }

    .img-umidade {
        margin-left: 1px;
    }

    .li-1,
    .li-2,
    .li-3,
    .li-4,
    .li-5,
    .li-6 {
        border-bottom: none
    }

    .li-2,
    .li-4,
    .li-6,
    .li-8 {
        border-left: none
    }

}